# Variávies sócioambientais


Este Notebook constrói as variáveis sócioeconômicas selecionadas para o modelo de regressão.


## Variável 'Média de Anos de Estudo por Bairro'

In [1]:
import zap_util as z
from xlrd import open_workbook

In [2]:
b = z.get('select gid,nome_s as nome from bairro', id_=None)
wb = open_workbook('./../armazen_dados_rj/488.xls', encoding_override=True)
ws = wb.sheet_by_index(0)
nomes = ws.col_values(0,1)
anos = ws.col_values(1,1)
df = z.pd.DataFrame()
df['nome'] = [str.strip(z.remove_acento(n)) for n in nomes]
df['se_anos_estudo'] = anos

print 'Tabela bairro tem {} itens e arquivo tem {} itens.'.format(len(b), len(df))

Tabela bairro tem 161 itens e arquivo tem 158 itens.

In [3]:
# Bairros no banco de dados mas não  no arquivo.
set(b.nome.tolist()) - set(df.nome.tolist())

{'Freguesia _Ilha_',
 'Freguesia _Jacarepagua_',
 'Gericino',
 'Lapa',
 'Osvaldo Cruz',
 'Vasco da Gama'}

In [4]:
# Bairros no arquivo mas não no banco de dados.
set(df.nome.tolist()) - set(b.nome.tolist())

{'Freguesia (Ilha)', 'Freguesia (Jacarepagua)', 'Oswaldo Cruz'}

In [5]:
# Ajustar nomes do arquivo para serem igual ao do banco de dados.
df.loc[df.nome == 'Freguesia (Ilha)', 'nome'] = 'Freguesia _Ilha_'
df.loc[df.nome == 'Freguesia (Jacarepagua)','nome'] = 'Freguesia _Jacarepagua_'
df.loc[df.nome == 'Oswaldo Cruz','nome'] = 'Osvaldo Cruz'

In [6]:
# Verificar novamente bairros no banco de dados mas não  no arquivo.
# Esses bairros realmente não estão no arquivo.
set(b.nome.tolist()) - set(df.nome.tolist())

{'Gericino', 'Lapa', 'Vasco da Gama'}

In [7]:
b = z.pd.merge(b,df,on=['nome'], how='left')

In [8]:
# Tratamento dos valores ausentes.

def media(coluna, bairros):
    soma = 0
    for v in bairros:
        soma += b[b.nome==v][coluna].values[0]
    return soma/len(bairros)


# Gericino
b.ix[b.nome=='Gericino','se_anos_estudo'] = \
    media('se_anos_estudo',['Bangu','Padre Miguel', 'Realengo'])

# Lapa
b.ix[b.nome=='Lapa','se_anos_estudo'] = \
    media('se_anos_estudo',['Centro', 'Santa Teresa', 'Gloria'])

# Vasco da Gama
b.ix[b.nome=='Vasco da Gama', 'se_anos_estudo'] = \
    media('se_anos_estudo', ['Sao Cristovao','Caju','Benfica'])

# Variável 'Percentual Alfabetização'

In [9]:
wb = open_workbook('./../armazen_dados_rj/3132.xls')
ws = wb.sheet_by_index(0)
nomes = ws.col_values(0,1)
perc_alfabetizacao = ws.col_values(1,1)
df = z.pd.DataFrame()
df['nome'] = [str.strip(z.remove_acento(n)) for n in nomes]
df['se_perc_alfabetizacao'] = perc_alfabetizacao

print 'Tabela bairro tem {} itens e arquivo tem {} itens.'.format(len(b), len(df))

Tabela bairro tem 161 itens e arquivo tem 160 itens.

In [10]:
# Bairros no banco de dados mas não  no arquivo.
set(b.nome.tolist()) - set(df.nome.tolist())

{'Lapa', 'Vila Kosmos'}

In [11]:
# Bairros no arquivo mas não no banco de dados.
set(df.nome.tolist()) - set(b.nome.tolist())

{'Vila Cosmos'}

In [12]:
# Ajustar nomes do arquivo para serem igual ao do banco de dados.
df.loc[df.nome == 'Vila Cosmos', 'nome'] = 'Vila Kosmos'

In [13]:
# Verificar novamente bairros no banco de dados mas não  no arquivo.
# Esses bairros realmente não estão no arquivo.
set(b.nome.tolist()) - set(df.nome.tolist())

{'Lapa'}

In [14]:
b = z.pd.merge(b,df,on=['nome'], how='left')

In [15]:
# Tratamento dos valores ausentes.

# Lapa
b.ix[b.nome=='Lapa','se_perc_alfabetizacao'] = \
    media('se_perc_alfabetizacao',['Centro', 'Santa Teresa', 'Gloria'])

# Variável 'Rendimento Nominal Médio'

In [16]:
wb = open_workbook('./../armazen_dados_rj/3151.xls')
ws = wb.sheet_by_index(0)
nomes = ws.col_values(0,1)
rend = ws.col_values(1,1)
df = z.pd.DataFrame()
df['nome'] = [str.strip(z.remove_acento(n)) for n in nomes]
df['se_renda'] = rend

print 'Tabela bairro tem {} itens e arquivo tem {} itens.'.format(len(b), len(df))

Tabela bairro tem 161 itens e arquivo tem 160 itens.

In [17]:
# Bairros no banco de dados mas não  no arquivo.
set(b.nome.tolist()) - set(df.nome.tolist())

{'Lapa', 'Sao Cristovao'}

In [18]:
# Bairros no arquivo mas não no banco de dados.
set(df.nome.tolist()) - set(b.nome.tolist())

{'Imperial de Sao Cristovao'}

In [19]:
# Ajustar nomes do arquivo para serem igual ao do banco de dados.
df.loc[df.nome == 'Imperial de Sao Cristovao', 'nome'] = 'Sao Cristovao'

In [20]:
# Verificar novamente bairros no banco de dados mas não  no arquivo.
# Esses bairros realmente não estão no arquivo.
set(b.nome.tolist()) - set(df.nome.tolist())

{'Lapa'}

In [21]:
b = z.pd.merge(b,df,on=['nome'], how='left')

In [22]:
# Tratamento dos valores ausentes.

# Lapa
b.ix[b.nome=='Lapa','se_renda'] = \
    media('se_renda',['Centro', 'Santa Teresa', 'Gloria'])

# Variável 'Saneamento'.

In [23]:
wb = open_workbook('./../armazen_dados_rj/3169.xls')
ws = wb.sheet_by_index(0)
nomes = ws.col_values(0,1)
sanea = ws.col_values(1,1)
df = z.pd.DataFrame()
df['nome'] = [str.strip(z.remove_acento(n)) for n in nomes]
df['se_saneamento'] = sanea


print 'Tabela bairro tem {} itens e arquivo tem {} itens.'.format(len(b), len(df))

Tabela bairro tem 161 itens e arquivo tem 161 itens.

In [24]:
# Bairros no banco de dados mas não  no arquivo.
set(b.nome.tolist()) - set(df.nome.tolist())

set()

In [25]:
# Bairros no arquivo mas não no banco de dados.
set(df.nome.tolist()) - set(b.nome.tolist())

set()

In [26]:
# Arquivo não tem dados válidos para Lapa.
df.loc[df.nome == 'Lapa','se_saneamento'] = None
df['se_saneamento'] = df['se_saneamento'].astype(float)

In [27]:
b = z.pd.merge(b,df,on=['nome'], how='left')

In [28]:
# Tratamento dos valores ausentes.

# Lapa
b.ix[b.nome=='Lapa','se_saneamento'] = \
    media('se_saneamento',['Centro', 'Santa Teresa', 'Gloria'])

# Variável IDH

In [29]:
wb = open_workbook('./../armazen_dados_rj/1172.xls')
ws = wb.sheet_by_index(0)
nomes = ws.col_values(0,1)
idh = ws.col_values(1,1)
df = z.pd.DataFrame()
df['nome'] = [str.strip(z.remove_acento(n)) for n in nomes]
df['se_idh'] = idh


print 'Tabela bairro tem {} itens e arquivo tem {} itens.'.format(len(b), len(df))

Tabela bairro tem 161 itens e arquivo tem 159 itens.

In [30]:
# Bairros no banco de dados mas não  no arquivo.
set(b.nome.tolist()) - set(df.nome.tolist())

{'Gericino', 'Lapa'}

In [31]:
# Bairros no arquivo mas não no banco de dados.
set(df.nome.tolist()) - set(b.nome.tolist())

set()

In [32]:
b = z.pd.merge(b,df,on=['nome'], how='left')

In [33]:
# Tratamento de valores ausentes.

# Gericino
b.ix[b.nome=='Gericino','se_idh'] = media('se_idh',['Bangu','Padre Miguel', 'Realengo'])

# Lapa
b.ix[b.nome=='Lapa','se_idh'] = media('se_idh',['Centro', 'Santa Teresa', 'Gloria'])

In [34]:
# Verificar se restou algum valor nulo.
b.isnull().sum()

gid                      0
nome                     0
se_anos_estudo           0
se_perc_alfabetizacao    0
se_renda                 0
se_saneamento            0
se_idh                   0
dtype: int64

# Índices de Criminalidade

Os índices de criminalidade foram obtidos do Institudo de Segurança Pública do RJ pelo notebook [Capturar Info Bairros](Capturar Info Bairros.ipynb).

In [35]:
# AISPs da cidade do Rio de Janeiro.
aisp_idx = [2,3,4,5,6,9,14,16,17,18,19,22,23,27,31,40,41]

from xlrd import open_workbook, cellname

# Repositório dos arquivos baixados.
DIR = './../instituto_seguranca_publica/xls/'

# Construir nomes dos arquivos.
x = ['2014{:0>2}'.format(i) for i in range(1,11)]
arqs = ['2013{:0>2}'.format(i) for i in range(10,13)]+ x

# Helper para indexar coluna no Excel por sua letra.
def colindex(colname):
    cols_ = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    return cols_.index(colname)


# Índices de criminalidade por AISP.
indices = {}

# Carregar os índices a partir dos arquivos.
for arq in arqs[:]:
    
    wb = open_workbook(DIR+arq+'.xls')
    
    for i in aisp_idx[:]:
        crimes = indices.setdefault(i, {})
        try:
            ws = wb.sheet_by_name(u'Aisp {}'.format(i))
        except:
            ws = wb.sheet_by_name(u'Aisp{}'.format(i))
        col = colindex('S')
        crimes['se_crm_violento'] = crimes.setdefault('se_crm_violento',0) + \
            sum(ws.col_values(col,6, 11))
        crimes['se_crm_roubo'] = crimes.setdefault('se_crm_roubo',0) + \
            sum(ws.col_values(col, 22, 33))
    
        del ws
    del wb
    
df_aisp = z.pd.DataFrame(indices).T    
df_aisp['aisp'] = df_aisp.index

In [36]:
# De <-> para entre AISP e Bairro.
nome = './../instituto_seguranca_publica/aisp_bairro.csv'
aisp_bairro = z.pd.DataFrame.from_csv(nome, index_col=None)

# Remover acentos.
aisp_bairro['nome'] =  aisp_bairro.nome.apply(z.remove_acento)

In [37]:
# Listar bairros no banco de dados mas não de<->para.
# As correções necessárias foram feitas.
set(b.nome.tolist()) - set(aisp_bairro.nome.tolist())

set()

In [38]:
# Listar bairros no banco de dados mas não de<->para.
# As correções necessárias foram feitas.
set(aisp_bairro.nome.tolist()) - set(b.nome.tolist())

set()

In [39]:
# Bairros em um único AISP.
g = aisp_bairro.groupby('nome')
s = g.size()
df_bairro = b[['gid','nome']]
nomes_unico_aisp = s[s == 1].index.tolist()
b1 = z.pd.merge(
    df_bairro[df_bairro.nome.isin(nomes_unico_aisp)], 
    aisp_bairro, on=['nome'], how='left')
b1_aisp = z.pd.merge(b1, df_aisp, on=['aisp'], how='left')
del b1_aisp['aisp'],b1

In [40]:
# Calcular média dos indicadores para bairros em mais de um AISP.

data = []
for i in s[s>1].index.tolist():
    aispids = g.get_group(i).aisp.unique().tolist()
    data.append({'nome':i,
            'gid':b[(b.nome==i)].index.tolist()[0],
            'se_crm_roubo':df_aisp.loc[aispids].mean().se_crm_roubo,
            'se_crm_violento':df_aisp.loc[aispids].mean().se_crm_roubo
            })
    
b2_aisp = z.pd.DataFrame(data)

In [41]:
# Juntar tudo para salvar no banco.
df = z.pd.concat([b1_aisp, b2_aisp])
df.index = df.gid
del df['gid']
df

                     nome  se_crm_roubo  se_crm_violento
gid
1                 Paqueta   4871.753940      1730.203982
4                  Galeao    506.370607       528.446144
8            Campo Grande    548.152777       750.171811
15       Jardim Guanabara    506.370607       528.446144
25           Pitangueiras    506.370607       528.446144
20                  Bangu   1422.348026       630.102144
33        Parque Anchieta   2138.462156       538.945453
28                  Penha   1247.621093       539.180020
30                Ribeira    506.370607       528.446144
41                   Mare   1005.882404       548.783181
42           Vila Militar   1422.348026       630.102144
46               Realengo   1422.348026       630.102144
43   Cidade Universitaria    506.370607       528.446144
50              Paciencia    374.149360       724.667841
53               Vaz Lobo   2121.794262       724.358959
63             Santa Cruz    374.149360       724.667841
67      Campo dos Afonsos   1422.348026       630.102144
70        Engenheiro Leal   2121.794262       724.358959
79               Campinho   2121.794262       724.358959
90               Inhoaiba    548.152777       750.171811
106               Taquara    646.448508       764.408423
116          Santa Teresa   4871.753940      1730.203982
124              Flamengo   1180.675882       423.449787
127         Vargem Grande   1167.358492       644.473336
128     Alto da Boa Vista   1124.097257       588.673608
126             Guaratiba    374.149360       724.667841
134              Sepetiba    374.149360       724.667841
140       Jardim Botanico    777.602554       567.540861
132                  Urca   1180.675882       423.449787
136           Jacarepagua    646.448508       764.408423
..                    ...           ...              ...
114                Gloria   1180.675882       423.449787
115          Rio Comprido   1740.699949       715.936741
117               Estacio   1740.699949       715.936741
119               Catumbi   1740.699949       715.936741
120                Grajau   1124.097257       588.673608
121             Pechincha    646.448508       764.408423
122               Andarai   1124.097257       588.673608
123                Catete   1180.675882       423.449787
125           Laranjeiras   1180.675882       423.449787
129           Cosme Velho   1180.675882       423.449787
133        Cidade de Deus    646.448508       764.408423
130              Curicica    646.448508       764.408423
139         Gardenia Azul    646.448508       764.408423
131              Botafogo   1180.675882       423.449787
135                  Anil    646.448508       764.408423
137               Camorim   1167.358492       644.473336
138               Humaita   1180.675882       423.449787
141        Vargem Pequena   1167.358492       644.473336
144                 Lagoa    777.602554       567.540861
151               Rocinha    777.602554       567.540861
148                Leblon    777.602554       567.540861
152    Pedra de Guaratiba    374.149360       724.667841
161                  Lapa   4871.753940      1730.203982
159               Deodoro   1422.348026       630.102144
160              Gericino   1422.348026       630.102144
3               Bancarios    506.370607       528.446144
143                  Leme    809.532657       805.917270
20                 Centro   3306.226945      3306.226945
71                Colegio   2130.128209      2130.128209
23                 Tijuca   1432.398603      1432.398603

[161 rows x 3 columns]

# Salvar variáveis sócio economicas no banco de dados.

In [42]:
# Salvar variáveis de bairros no banco de dados
b = z.pd.merge(b,df,on=['nome'], how='left')
b.describe()

,gid,se_anos_estudo,se_perc_alfabetizacao,se_renda,se_saneamento,se_idh,se_crm_roubo,se_crm_violento
count,161.000000,161.000000,161.000000,161.000000,161.000000,161.000000,161.000000,161.000000
mean,81.000000,8.352174,97.311573,1931.945528,0.912236,0.840027,1455.035931,686.739609
std,46.620811,2.154657,1.923924,1459.179621,0.143975,0.065726,887.606510,337.135620
min,1.000000,3.880000,85.330000,571.010000,0.000000,0.711408,374.149360,423.449787
25%,41.000000,6.950000,96.630000,1085.850000,0.905568,0.798364,777.602554,539.180020
50%,81.000000,7.800000,97.680000,1395.590000,0.963885,0.838543,1422.348026,577.233233
75%,121.000000,9.810000,98.510000,2103.470000,0.991115,0.877972,1740.699949,724.358959
max,161.000000,13.890000,100.000000,8286.460000,0.999774,0.970435,4871.753940,3306.226945

In [43]:
# Salva no banco de dados.
z.d.salva_dataframe(b, '_var_socioecon')